header {
    background-color: black;color: white;position: absolute;width: 1024px;height: 20px;
    left: calc(50% - 1024px/2);top: 0px;
}
span {
    position: absolute;width: 138px;height: 12px;left: calc(50% - 138px/2 - 353px);top: 4px;      
    font-family: Roboto;font-style: normal;font-weight: normal;font-size: 10px;
    line-height: 12px;
}
.Idioma {
    position: absolute;width: 36px;height: 12px;left: calc(50% - 36px/2 + 388px);top: 4px;      
    font-family: Roboto;font-style: normal;font-weight: normal;font-size: 10px;
    line-height: 12px;
}
.Pais  {
    position: absolute;width: 26px;height: 12px;left: calc(50% - 26px/2 + 439px);top: 4px;      
    font-family: Roboto;font-style: normal;font-weight: normal;font-size: 10px;
    line-height: 12px;
}
nav {
    background-color:#F0A83E;color: white;position: absolute;width: 1024px;height: 62px;
    left: calc(50% - 1024px/2);top: 20px;
}
.Logo {
    position: absolute;width: 166.38px;height: 23px;left: 40px;top: 39px;
}
.Categorias {
    position: absolute;width: 64px;height: 14px;left: calc(50% - 64px/2 + 177px);
    top: 44px;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 13px;
    line-height: 15px;
}
.Pets {
    position: absolute;width: 27px;height: 14px;left: calc(50% - 27px/2 + 258.5px);
    top: 44px;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 13px;
    line-height: 15px;
}
.Nosotros {
    position: absolute;width: 54px;height: 15px;left: calc(50% - 54px/2 + 335px);
    top: 43px;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 13px;
    line-height: 15px;
}
.Contactanos {
    position: absolute;width: 74px;height: 14px;left: calc(50% - 74px/2 + 435px);
    top: 44px;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 13px;
    line-height: 15px;
}
.Contenido {
    position: absolute;width: 1025px;height: 409px;
    left: calc(50% - 1025px/2 + 0.5px);top: 81px;
}
.Bienvenida {
    position: absolute;width: 345px;height: 35px;left: 658px;top: 246px;font-family: Roboto;font-style: normal;
    font-weight: normal;font-size: 30px;line-height: 35px;text-align: center;color: #3C2313;position: absolute;width: 365px;
    height: 45px;left: 648px;top: 237px;background: #FFFFFF;border-radius: 5px;
}
.Noticia {
    position: absolute;width: 190px; height: 19px;left: 740px;top: 303px;font-family: Roboto;font-style: normal;
    font-weight: normal;font-size: 16px; line-height: 19px;/* identical to box height */text-align: center;color: #3C2313;
}
.Comederos {
    position: absolute;width: 95px;height: 19px;left: 790px;top: 349px;font-family: Roboto;font-style: normal;
    font-weight: normal;font-size: 13px;line-height: 23px;/* identical to box height */text-align: center;color: #FFFFFF;
    width: 141px;height: 25px;left: 767px;top: 334px;background: #F0A83E;border-radius: 5px;
}
.Destacados {
    position: absolute;width: 67px;height: 71px;left: calc(50% - 67px/2 + 0.5px);top: 510px;
}
.Productos-destacados {
    position: absolute;width: 406px;height: 47px;left: 459px;top: 586px;font-family: Roboto;font-style: normal;font-weight: bold;font-size: 40px;line-height: 47px;/* identical to box height */color: #3C2313;
}
.Items {
    position: absolute;width: 78px;height: 18px;left: 540px;top: 680px;font-family: Roboto;font-style: normal;
    font-weight: normal;font-size: 15px;line-height: 18px;/* identical to box height */color: #666666;
}
.Productos {
    position: absolute;width: 600px;height: 312px;left: 340px;top: 720px;
}
.Churrasquito {
    position: absolute;width: 160.54px;height: 19.64px;left: 380.68px;top: 988.86px;font-family: Roboto;
    font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;color: #3C2313;
}
.PrecioChurrasquito {
    position: absolute;width: 38.49px;height: 19.64px;left: 430.26px;top: 1006.92px;font-family: Roboto;font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;color: #F0A83E;
}
.ComederoMascota {
    position: absolute;width: 160.54px;height: 19.64px;left: 575.68px;top: 988.86px;font-family: Roboto;
    font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;color: #3C2313;
}
.PrecioComederoMascota {
    position: absolute;width: 38.49px;height: 19.64px;left: 630.26px;top: 1006.92px;font-family: Roboto;font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;color: #F0A83E;
}
.Huesito {
    position: absolute;width: 160.54px;height: 19.64px;left: 775.68px;top: 988.86px;font-family: Roboto;
    font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;color: #3C2313;
}
.PrecioHuesito {
    position: absolute;width: 38.49px;height: 19.64px;left: 830.26px;top: 1006.92px;font-family: Roboto;font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;color: #F0A83E;
}
.Formu {
    position: absolute;width: 340px;height: 264px;left: 500px;top: 1110px;
}
.Suscrip {
    position: absolute;width: 1024px;height: 60px;left: calc(50% - 1024px/2);top: calc(130% - 60px/2 + 575.5px);
    background: #F0A83E;
}
.InformacionContacto {
    position: absolute;width: 1024px;height: 284px;left: calc(50% - 1024px/2);bottom: 17px;
    top: calc(139% - 60px/2 + 575.5px);background: #3C2313;
}
.InfoAdicional {
    position: absolute;width: 1020px;height: 260px;
}
Footer {
    position: absolute;width: 1024px;height: 20px;left: calc(50% - 1024px/2);bottom: 0px;
    top: calc(180% - 60px/2 + 575.5px);background: #222222;
}
div {color:white}